.left-column {
  background-color: black;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.left-column > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1rem;
}

.left-column > *:first-child {
  margin-top: 0;
}

.left-column > *:last-child {
  margin-bottom: 0;
}

.field-row {
  background-color: blueviolet;
}

.right-column {
  background-color: black;
  width: 25rem;
}

.second-row {
  height: 10rem;
  width: 100%;
  background-color: black;
}

.third-row {
  height: 3.5rem;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row-container > * {
  width: 50rem;
}

.row-container > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.first-row {
  display: flex;
  justify-content: space-between;
  background-color:black;
}

.first-row > * {
  height: 30rem;
}

.row-container > * > * {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color:wheat; 
}

.row-container > * > *:first-child {
  margin-left: 0;
}

.row-container > * > *:last-child {
  margin-right: 0;
}

/* A dark past */

.labels {
    display: table;
  }
  
  .label-container {
    display: table-row;
  }

  .select-container {
    display: table-row;
  }

  .textarea-container {
    display: table-row;
  }

  .selects {
        display: table;
    }
  
  label,
  select,
  input {
    display: table-cell;
  }
  
  label {
    padding: 10px;
  }
  
  input {
    border-radius: 100px;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-width: 0px 10px;
    border-color: #8E3D2C90;
  }

  input[type="checkbox"] {
    transform: scale(2);
    margin: 5px;
  }
  
  input[type="submit"] {
    font-family: 'Jost', sans-serif;
    background-color: white;
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    width: 200px;
  }

  input[type="text"], input[type="password"], input[type="email"], select {
    min-width: 20rem;
  }

  select {
    border-radius: 100px;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-width: 0px 10px;
    border-color: #8E3D2C90;
  }

textarea {
    border-radius: 30px;
    border-style: solid;
    border-width: 0px 10px;
    border-color: #8E3D2C90;
    padding: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    resize: none;
  }