:root {
    --heading-size: xx-large;
    --secondary-size: larger;
}

html, body { /* Это нужно, чтобы избавиться от белого пространства вокруг хэдера */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
    color: #af7162ff;
    font-family: 'Jost', sans-serif;
    font-weight: normal;
}

body {
    background-color: #FDEBDF;
}

header {
    background-color: #d1a597ff;
    height: 11vh;
}

h1 {
    font-size: var(--heading-size);
}

button {
    background-color: white;
    border: none;
    border-radius: 1.46vh;
    width: 24.31vw;
    height: 6.83vh;
    font-size: var(--secondary-size);
    overflow: hidden;
    cursor: pointer;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
}

.main-page-heading {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container > * {
    margin-right: 3.125vw;
    margin-left: 3.125vw;
}