:root {
    --heading-size: xx-large;
    --secondary-size: larger;
}

* {
    color: #af7162ff;
    font-family: 'Jost', sans-serif;
    font-weight: normal;
}

body {
    background-color: #FDEBDF;
}

header {
    background-color: #d1a597ff;
    height: 11.7vh;
}

h1 {
    font-size: var(--heading-size);
}

button {
    background-color: white;
    border: none;
    border-radius: 8px;
    width: 24.31vw;
    height: 6.83vh;
    font-size: var(--secondary-size);
    overflow: hidden;
}

.main-page-heading {
    text-align: center;
}

.button-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.button-container > * {
    margin-right: 3.125%;
    margin-left: 3.125%;
}
