:root {
  --text-color: rgba(142, 61, 44, 0.7);
  --font-family: 'Jost', sans-serif;
}

body {
  background-color: #FDEBDF;
}

form {
  padding-left: 80px;
}

h1 {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 400;
}

label {
  color: var(--text-color);
  font-family: var(--font-family);
}

.labels {
  display: table;
}

.label-container {
  display: table-row;
}

label,
input {
  display: table-cell;
}

label {
  padding: 10px;
}

input {
  border-radius: 100px;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: solid;
  border-width: 0px 10px;
  border-color: #8E3D2C90;
}

input[type="submit"] {
  font-family: 'Jost', sans-serif;
  background-color: white;
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.button-container {
  display: flex;
  justify-content: center;
}