.search-result-row-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}

.search-result-row-container > * {
    width: 70rem;
}
  
.search-result-row-container > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.search-result-row-container > * > * {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color:wheat;
}

.search-result-row-container > * > *:first-child {
    margin-left: 0rem;
}

.search-result-row-container > * > *:last-child {
    margin-right: 0rem;
}

.search-result-row {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

/* ПЛАШКА С РАБОТОЙ */

.work-container {
    width: 20rem;
    height: 15rem;
    background-color:#000;
    border-radius: 1rem;
    position: relative;
    padding: 0.5rem;
}

.work-container > * {
    background-color:#FF2;
}

.likes-row {
  position: absolute;
  width: calc(100% - 1rem);
  height: 8%;

}

.like {
  position: absolute;
  right: 0;
  width: 17%;
  height: 100%;
  background-color:#F22;
}

.work-name-container {
  position: absolute;
  width:calc(100% - 1rem);
  /* height:fit-content; */
  height:10%;
  top:8%;
  margin-top: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 10%;
}

.work-name-container label {
  color: #000;
}

.work-description-container {
  background-color: #FFF;
  border-radius: 1.5rem;
  position:absolute;
  width:calc(100% - 1rem);
  height:calc(100% - calc(18% + 1.5rem) - 0.5rem);
  top:calc(18% + 1.5rem);
}

.work-description-container p {
    color: #000;
  position:absolute;
  width: 98%;
  height: 96%;
  top: 2%;
  left: 1%;
    background-color: rgb(0,0,0,0.5);
    box-sizing: border-box;
  resize: none;
  border-color:rgb(0,0,0,0);
  border-radius: 1.5rem;
  word-wrap: break-word;
  /* word-break: break-all; */
}