
*.cache
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/staticwebassets/msbuild.FanfictionBackend.Microsoft.AspNetCore.StaticWebAssets.props
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/staticwebassets.development.json
FanfictionBackend/FanfictionBackend/bin/Debug/net7.0/FanfictionBackend.staticwebassets.runtime.json
FanfictionBackend/FanfictionBackend/bin/Debug/net7.0/FanfictionBackend.staticwebassets.runtime.json
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/FanfictionBackend.assets.cache
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/FanfictionBackend.dll
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/FanfictionBackend.GeneratedMSBuildEditorConfig.editorconfig
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/FanfictionBackend.pdb
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/project.razor.json
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/staticwebassets.development.json
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/staticwebassets.pack.json
FanfictionBackend/FanfictionBackend/obj/Debug/net7.0/staticwebassets/msbuild.FanfictionBackend.Microsoft.AspNetCore.StaticWebAssets.props
FanfictionBackend/FanfictionBackend/obj/project.nuget.cache
FanfictionBackend/FanfictionBackend/appsettings.json
FanfictionBackend/Tests/obj/Debug/net7.0/Tests.assets.cache
FanfictionBackend/Tests/obj/Debug/net7.0/Tests.csproj.AssemblyReference.cache
FanfictionBackend/Tests/obj/project.assets.json
FanfictionBackend/Tests/obj/Tests.csproj.nuget.dgspec.json
FanfictionBackend/Tests/obj/Debug/net7.0/Tests.csproj.AssemblyReference.cache
*.dll
*.pdb
*.cache
*.cache
*.info
FanfictionBackend/FanfictionBackend/bin/Debug/net7.0/appsettings.json
