

.left-column {
  /* background-color: black; */
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.left-column > * {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  width: 100%;
  height: 2.5rem;
}

.left-column > *:first-child {
  margin-top: 0;
}

.left-column > *:last-child {
  margin-bottom: 0;
}

.field-row {
  /* background-color: blueviolet; */
}

.right-column {
  /* background-color: black; */
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second-row {
  height: 10rem;
  width: 100%;
  /* background-color: black; */
}

.third-row {
  height: 3.5rem;
  width: 100%;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
}

.row-container > * {
  width: 50rem;
}

.row-container > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.first-row {
  display: flex;
  justify-content: space-between;
  /* background-color:black; */
}

.first-row > * {
  height: 30rem;
}

.row-container > * > * {
  margin-left: 1rem;
  margin-right: 1rem;
  /* background-color:wheat;  */
}

.row-container > * > *:first-child {
  margin-left: 0;
}

.row-container > * > *:last-child {
  margin-right: 0;
}

.name-chapter {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  height: 3rem;
  /* background-color: rgb(138, 22, 22); */
}

.name-chapter > * {
  margin-right: 4rem;
}

.content-chapter {
  height: 30rem;
  /* background-color: black; */
}

.button-chapter {
  height: 3.5rem;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration-form {
  /* background-color: black; */
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.registration-form > * {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  width: 100%;
  height: 2.5rem;
}

.registration-button {
  height: 3.5rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A dark past */

.labels {
    display: table;
  }
  
  .label-container, .select-container {
    display: flex;
    justify-content: space-between;
  }

  .checkbox-container {
    display: flex;
    align-items: start;
  }

  .text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .selects {
    display: table;
  }
  
  label,
  select,
  input {
    display: table-cell;
  }
  
  label {
    padding-right: 1rem;
    margin-top: 0.2rem;
  }
  
  input, select, textarea {
    border-radius: 30px;
    padding: 0.5rem;
    border-style: solid;
    border-width: 0px 0.7rem;
    border-color: #8E3D2C90;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
  }

  select {
    width: 17.5rem;
  }

  input {
    width: 15rem;
  }

  input[type="checkbox"] {
    transform: scale(2);
    margin: 1rem;
    width: 1.5rem;
  }
  
  input[type="submit"] {
    font-family: 'Jost', sans-serif;
    background-color: white;
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    width: 200px;
  }

textarea {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 100%;
  }
