body {
    background-color: #FDEBDF;
    font-size: 1.33rem;
    font-family: 'Jost', sans-serif;
}

.title {
    color: #8E3D2C;
    opacity: 70%;
    padding-right: 50px;
    padding-bottom: 10px;
    font-size: 2rem;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 105px;
}

.container1 {
    margin: 170px auto auto 105px;
}

.small-image {
    padding-right: 5px;
    scale: 77%;
}

.average-text {
    color: #8E3D2C;
    opacity: 70%;
    margin-top: 41px;
}

.author-name {
    color: #8E3D2C;
    opacity: 90%;
    margin-right: 30px;
    font-size: 18px;
    text-decoration: underline;
}

.gallery {
    margin-left: 876px;
    scale: 80%;
}

.container3 {
    display: block;
    width: 630px;
    margin-right: 5px;
}

.container4 {
    display: block;
    width: 630px;
}

.inner-container {
    width: 1257px;
    display: flex;
    align-items: flex-start;
}

.chapter-title {
    text-align: center;
    color: #8E3D2C;
    opacity: 70%;
    font-size: 2rem;
    padding-top: 41px;
    padding-bottom: 41px;
}

article {
    color: #8E3D2C;
    opacity: 70%;
    margin-left: 101px;
    margin-bottom: 44px;
}

.container5 {
    width: 1330px;
    justify-content: space-between;
}

.average-button {
    width: 350px;
    height: 70px;
    background-color: #FFF;
    border-radius: 15px;
    text-align: center;
    font-size: 1.33rem;
    border: none;
    color: #8E3D2C;
    opacity: 70%;
}

.like-button {
    scale: 80%;
}

.chapter-field {
    margin-left: 105px;
    margin-bottom: 44px;
}

.block-wrapper {
    display: flex;
}

.block {
    box-sizing: border-box;
    background: #FFF;
    border-width: 0 20px;
    border-style: solid;
    border-color: rgba(142, 61, 44, 0.5);
    border-radius: 50px;
    color: #8E3D2C;
    opacity: 70%;
    text-align: start;
    padding: 10px 15px;
    text-overflow: clip;
}

.wrapper1 .block1 {
    width: 610px;
    height: 119px;
}

.wrapper2 .block2 {
    width: 610px;
    height: 395px;
}

.wrapper3 {
    margin-left: 105px;
    margin-top: 41px;
    margin-bottom: 36px;
}

.wrapper3 .block3 {
    width: 1330px;
    height: 580px;
}