.search-result-row-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
    /* background-color: aqua; */
}

.search-result-row-container > * {
    width: 60rem;
}
  
.search-result-row-container > * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.search-result-row-container > * > * {
    margin-left: 1rem;
    margin-right: 1rem;
    /* background-color:wheat; */
}

.search-result-row-container > * > *:first-child {
    margin-left: 0rem;
}

.search-result-row-container > * > *:last-child {
    margin-right: 0rem;
}

.search-result-row {
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}